# Python cache / artifacts
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# PyInstaller outputs
build/
dist/

# Old stuff
old project/

# Logs
*.log

/db/ui_settings.json
/db/tasks_progress.json
/db/tasks_finished.json
/db/tasks_draft.json
/db/tasks_delayed.json
/db/subjects.json
/db/statuses.json
/db/roles.json
/db/profile.json
/db/people_settings.json
